@model RoleAdminCreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-danger" asp-validation-summary="ModelOnly"></div>

<form asp-action="Create" asp-controller="Role" method="post" class="p-4 w-75 mx-auto shadow">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input class="form-control" asp-for="@Model.Name" />
        <span class="text-danger" asp-validation-for="@Model.Name"></span>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-success">Kaydet</button>
    </div>
</form>